services:
  kafka:
    image: apache/kafka:4.1.0
    container_name: network-monitoring-kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://localhost:9092,CONTROLLER://localhost:9091,INTERNAL://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,INTERNAL://kafka:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9091
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    restart: always

  grafana:
    image: grafana/grafana:12.3
    container_name: network-monitoring-grafana
    environment:
      GF_INSTALL_PLUGINS: vertamedia-clickhouse-datasource 3.3.1,grafana-clickhouse-datasource
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - grafana:/var/lib/grafana

  prometheus:
    image: prom/prometheus:v3.4.0
    container_name: network-monitoring-prometheus
    ports:
      - "9090:9090"
    restart: always
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus:/prometheus

  goflow2:
    image: netsampler/goflow2:latest
    container_name: network-monitoring-goflow2
    ports:
      - "8080:8080"
      - "6343:6343/udp"
      - "2055:2055/udp"
    restart: always
    command:
      - -transport.kafka.brokers=kafka:9093
      - -transport=kafka
      - -transport.kafka.topic=flows
      - -transport.kafka.version=4.1.0
      - -format=bin
    depends_on:
      - kafka

  db:
    image: clickhouse/clickhouse-server:25.10
    container_name: network-monitoring-clickhouse
    restart: always
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: password
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    ports:
      - "8123:8123"
      - "9000:9000"
      - "9363:9363"
    volumes:
      - ./clickhouse/initdb.d:/docker-entrypoint-initdb.d
      - ./clickhouse/format_schemas:/var/lib/clickhouse/format_schemas
      - ./clickhouse/user_files:/var/lib/clickhouse/user_files
      - ./clickhouse/config.d:/etc/clickhouse-server/config.d
      - clickhouse:/var/lib/clickhouse
    depends_on:
      - kafka

  api:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: network-monitoring-api
    ports:
      - "8090:8090"
    environment:
      CLICKHOUSE_ADDR: db:9000
      CLICKHOUSE_DATABASE: flows
      CLICKHOUSE_USERNAME: default
      CLICKHOUSE_PASSWORD: password
    restart: always
    depends_on:
      - db

  # Use vector.dev to read messages from Kafka
  # vector:
  #   image: timberio/vector:0.46.1-debian
  #   container_name: network-monitoring-vector
  #   restart: always
  #   ports:
  #     - "8686:8686"
  #   volumes:
  #     - ./vector/vector.toml:/etc/vector/vector.toml
  #     - ./vector/flow.proto:/etc/vector/flow.proto
  #   entrypoint: ["vector", "--config", "/etc/vector/vector.toml"]
  #   depends_on:
  #     - goflow2

  # nflow-generator:
  #   image: networkstatic/nflow-generator
  #   restart: always
  #   command: -p 2055 -t goflow2

volumes:
  clickhouse:
  prometheus:
  grafana:
